/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.searchbar-div {
  display: flex;
  justify-content: center;
  align-items: center!important;
}

.profile-nav {
  /* width: fit-content!important; */
  margin-right: 15px;
}

.deals {
  display: flex;
  padding: 0 25px 10px;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping to the next line */
}

/* For WebKit (Chrome, Safari) */
.deals::-webkit-scrollbar {
  height: 5px;
}

.deals::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.deals::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.deals::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.deals-container {
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  text-align: center;
}

main {
  /* display: flex;
  justify-content: center; */
  margin-top: 56px;
  width: 100%;
}

.deal-card {
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 5px;
  min-width: 200px;
}

.product-card {
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 5px;
  min-width: 200px;
  max-width: 200px;
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.topic-btn {
  width: 100%;
  padding: 10px;
  border-radius: none;
  border: 1px solid black;
}

.topics-container {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: 300px;
  position: sticky;
  top: 56px;
}

.product-container {
  flex-grow: 1;
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
}

footer {
  height: 300px;
  background-color: grey;
}